:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --backgrount-color: #2F303A;
  --main-background-color: #Ffffff;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --portfolio-nav: #F5F4FA;
  --border-nav: #ECECEC;
  --border-work: #EEEEEE;
  --social-icon: #AFB1B8;
  --overlay: rgba(33, 150, 243, 0.9);
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop: rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  z-index: 100;
  transition: opacity var(--anim), visibility var(--anim);
}

.input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: border-color var(--accent-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

.modal-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  padding: 9px 10px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--anim);
}
.modal-btn:focus, .modal-btn:hover {
  border-color: var(--accent-color);
}
.modal-btn__icon {
  transition: fill var(--anim);
}
.modal-btn:focus .modal-btn__icon, .modal-btn:hover .modal-btn__icon {
  fill: var(--accent-color);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.form__label {
  display: block;
  padding-bottom: 4px;
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.16;
}
.form__wrapper {
  position: relative;
}
.form__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);
  width: 18px;
  height: 18px;
}

.form__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 11px 45px;
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.coment {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.coment__input {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color var(--anim);
}
.coment__input:focus {
  border-color: var(--accent-color);
}
.coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.check__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: border var(--anim);
}
.check__icon {
  opacity: 0;
  transition: opacity var(--anim);
}
.check__input {
  position: absolute;
  top: 0;
  left: 0;
}
.check__input:checked + .check__wrapper {
  border: none;
}
.check__input:checked + .check__icon {
  opacity: 1;
}
.check__link {
  line-height: 1.7;
  text-decoration: underline;
  color: var(--accent-color);
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow var(--anim);
}
.submit-btn:hover, .submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  color: var(--primary-black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  transition: color var(--anim);
}
.logo--accent {
  color: var(--accent-color);
}
.logo--white {
  color: var(--primary-white-color);
}
.logo--big {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.logo--small {
  margin-bottom: 20px;
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.nav {
  display: flex;
}

.main-nav {
  display: flex;
}

.site-nav {
  display: flex;
}
.site-nav__items:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--anim);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity var(--anim);
}

.site-nav__link--current::after,
.site-nav__link:hover::after,
.site-nav__link:focus::after {
  opacity: 1;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav__items:not(:last-child) {
  margin-right: 50px;
}
.auth-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color var(--anim);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav__icon {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}

.pages-header {
  border-bottom: 1px solid var(--border-nav);
}

.hero-box {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--backgrount-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
  background-position: center;
}

.hero {
  max-width: 695px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}
.hero__title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: color var(--anim);
}
.hero__button:hover, .hero__button:focus {
  color: var(--primary-black-color);
}

.features {
  display: flex;
}
.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.features__description {
  flex-basis: 270px;
}

.features__description:not(:last-child) {
  margin-right: 30px;
}

.features-box {
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--portfolio-nav);
}
.features-box__icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.services {
  padding-top: 0;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.services__items {
  flex-basis: calc((100% - 100px) / 3);
}

.services-wrapper {
  position: relative;
}
.services-wrapper__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.teem {
  background-color: var(--portfolio-nav);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 16px;
  line-height: 1.9;
}
.team-list__items {
  flex-basis: calc((100% - 150px) / 4);
  background-color: var(--main-background-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__photo {
  margin-bottom: 30px;
}
.team-list__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list__text {
  margin-bottom: 16px;
}

.social {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  gap: 10px;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--social-icon);
  transition: color var(--anim), bacgrount-color var(--anim);
}
.social__link:hover, .social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-items__link {
  display: block;
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  color: var(--social-icon);
  transition: color var(--anim), border-color var(--anim);
}
.clients-items__link:hover, .clients-items__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-items__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.work-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.work-nav__items:not(:last-child) {
  margin-right: 8px;
}
.work-nav__button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--portfolio-nav);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0;
  border-radius: 4px;
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
}
.work-nav__button:hover, .work-nav__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work__items {
  flex-basis: calc((100% - 60px) / 3);
}
.work__link {
  display: block;
  transition: box-shadow var(--anim);
}
.work__link:hover, .work__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  position: relative;
  overflow: hidden;
}
.card__photo {
  max-width: 100%;
}
.card__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  transform: translateY(102%);
  /* opacity: 0; */
  transition: transform var(--anim);
}
.card__text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-white-color);
}

.work__link:hover .card__overlay,
.work__link:focus .card__overlay {
  transform: translateY(0);
}

.work-box {
  border-bottom: 1px solid var(--border-work);
  border-left: 1px solid var(--border-work);
  border-right: 1px solid var(--border-work);
  padding-top: 20px;
  padding-bottom: 20px;
}
.work-box__text {
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
.work-box__title {
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--backgrount-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
}

.address-box {
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-right: 70px;
}

.address__items:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  transition: color var(--anim);
}
.address__link--street {
  color: var(--primary-white-color);
}
.address__link--email {
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.join {
  display: flex;
  align-self: baseline;
  flex-direction: column;
  margin-right: 93px;
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--anim);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
}

.subscribe-box {
  display: flex;
}

.subscribe__input {
  display: block;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  color: var(--primary-white-color);
  border-color: rgba(255, 255, 255, 0.3);
  transition: border-color var(--anim);
}
.subscribe__input:focus {
  border-color: var(--accent-color);
}
.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__btn {
  display: flex;
  align-items: center;
  width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  transition: box-shadow var(--anim);
  cursor: pointer;
}
.subscribe__btn:hover, .subscribe__btn:focus {
  box-shadow: 0px 4px 4px rgba(109, 109, 109, 0.2);
}/*# sourceMappingURL=main.css.map */