.clients {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-items {
    &__link {
        display: block;
        width: 170px;
        height: 92px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px;
        text-align: center;

        border: 1px solid var(--social-icon);
        border-radius: 4px;

        color: var(--social-icon);

        transition: color var(--anim),
            border-color var(--anim);

        &:hover,
        &:focus {
            color: var(--accent-color);
            border-color: var(--accent-color);
        }
    }

    &__logo {
        width: 106px;
        height: 60px;

        fill: currentColor;
    }
}