.pages-header {
    border-bottom: 1px solid var(--border-nav);
}

.hero-box {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background-color: var(--backgrount-color);

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/banner.jpg);
    background-position: center;
}

.hero {
    max-width: 695px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;

    &__title {
        margin-bottom: 30px;

        color: var(--primary-white-color);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    &__button {
        padding: 10px 32px;
        margin-left: auto;
        margin-right: auto;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 0;
        border-radius: 4px;

        color: var(--primary-white-color);
        background-color: var(--accent-color);

        cursor: pointer;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;

        transition: color var(--anim);

        &:hover,
        &:focus {
            color: var(--primary-black-color);
        }
    }
}