.work {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__items {
        flex-basis: calc((100% - 2*30px)/3);
    }

    &__link {
        display: block;
        transition: box-shadow var(--anim);
    }

    &__link:hover,
    &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card {
    position: relative;
    overflow: hidden;
    
    &__photo {
        max-width: 100%;
    }

    &__overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;

        padding: 63px 24px;
        width: 100%;
        height: 100%;

        background-color: var(--overlay);

        transform: translateY(102%);
        /* opacity: 0; */
        transition: transform var(--anim);
    }

    &__text {
        font-size: 18px;
        line-height: 1.6;

        color: var(--primary-white-color);
    }
}

.work__link:hover,
.work__link:focus {
    .card__overlay {
        transform: translateY(0);
    }
}

.work-box {
    border-bottom: 1px solid var(--border-work);
    border-left: 1px solid var(--border-work);
    border-right: 1px solid var(--border-work);
    padding-top: 20px;
    padding-bottom: 20px;

    &__text {
        display: block;
        margin-left: 24px;
        margin-right: 24px;


        color: var(--primary-text-color);

        font-size: 16px;
        line-height: 1.9;
    }

    &__title {
        display: block;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 4px;

        color: var(--title-text-color);

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
}